# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
debug
.DS_Store
.gradle
.idea
/build/
/out/
/c++/csv_import/.vs/CSVRecord/v14
/c++/csv_import/CSVRecordTest.vcxproj.user
/c++/csv_import/CSVRecord.VC.VC.opendb
/c++/csv_import/CSVRecord.VC.db
/c++/csv_import/CSVRecordTest.vcxproj.filters
/c++/csv_import/CSVRecord.vcxproj.filters
